
body{
	background-attachment: fixed;
	background-image: url("./img/01.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
img{
	width: 100%;
	height: 100%;
}
div{
	position: relative;
	float: left;
}
#main{
	width: 70%;
	height: auto;
	background-color: rgba(225,225,225,0.8);
	position: absolute;
	margin-top: 3%;
	margin-left: 15%;
	margin-bottom: 50px;
}
.title{
	height: 4%;
	width: 90%;
	margin-top: 2%;
	margin-left: 3%;
	font-size: 1.5em;
	border-left: 0.2em solid #436EEE;
}

.thebody{
	height: auto;
	width: 100%;
}
.pone{
	height: 3%;
	width: 80%;
	margin-top: 2%;
	margin-left: 3%;
	font-size: 1.5em;
	border-left: 0.2em solid #436EEE;
}
.one{
	height: 60%;
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
}
.a{
	height: 50%;
	width: 30%;
	background-color:  #7A7A7A;
	float: left;
	margin:  0 8%;
	border: 0.2em solid #7A7A7A;
}

.b{
	margin: 0 8%;;
	height: 50%;
	width: 30%;
	background-color:  #7A7A7A;
	float: right;

	border: 0.2em solid #7A7A7A;


}
.c{
	height: 40%;
	width: 45%;
    background-color:  #7A7A7A;
	float: left;
	margin:2% 0;
	border: 0.2em solid #7A7A7A;

}
.d{
	height: 40%;
	width: 45%;
	background-color:  #7A7A7A;
	float: right;
	margin:2% 0;
	border: 0.2em solid #7A7A7A;

}
.e{
	height:30%;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	border: 0.3em solid #7A7A7A;
	background-color:  #7A7A7A;

}
.nav{
	height: 100%;
	width: 100%;
}
.endtitle{
	
	text-align: center;
	font-size:1.5em;
}
.end{
	position: relative;
	float: left;
}
ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 100%;
	height: 50px;
    border-top: 3px solid #e7e7e7;
    border-bottom: 3px solid #e7e7e7;
   
}
li{
	float: left;
	width: 20%;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 12px 30%;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #7A7A7A;
    color: white;
}
li a.active {
    color: white;
    background-color: #68838B;
}